{block content}
    <h1 n:block="title">Study Information System</h1>
    
    
      <p><a n:href="Teacher:default">teacher</a></p>  

    
  <p><a n:href="Person:addPerson">add person</a></p> 

     
   
    <p><a n:href="Department:default">Department</a></p> 
    
    <p><a n:href="Course:addCourse">add course</a></p>
    
       <p><a n:href="Student:">Student</a></p>
   
      
      
         
          
            
             
           
    
    
{/block}

