{block content}
   
    
   <h1 n:block="title">Registered teacher to course</h1>        
  <fieldset>
	
        

    
    <p>Zaregistrovat předměty</p>
	{control registerTeacherForm}
	
</fieldset> 
   
    
{/block}

